{% load static %}
{% include "demouiapp/_header.html" %}

<div hidden id="mydiv" class="alert alert-success" role="alert">
    <h4 class="alert-heading">🚀 Running!</h4>
    <p>Operation in progress.</p>
    <p>Please wait....</p>
</div>

<div id="main-panel" role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    {% include "demouiapp/_navbar.html" %}
                    <td style="width:90%; padding-left:50px;">
                        <p style="font-size:2.5em;">IBM CloudPak for Watson AIOps</p>
                        <p style="font-size:50px;">🚀 {{ INSTANCE_NAME }} - Demo UI</h1>
                            <p></p>
                            <p>A Simple way to generate Live Incidents for CP4WAIOPS.</p>
                            <p> </p>
                            <p> </p>
                            <p> </p>
                            <hr>

                            <script>
                                let toggle = button => {
                                    let element = document.getElementById("mydiv");
                                    let elementMain = document.getElementById("main-panel");
                                    let arg1 = event.target.getAttribute('data-arg1');
                                    element.removeAttribute("hidden");
                                    elementMain.setAttribute("hidden", "hidden");
                                    button.innerText = "Running";
                                    window.open(arg1, "_self");
                                }
                            </script>


                            <table width="300" cellspacing="0" cellpadding="0"
                                style="width: 1100px; table-layout: fixed">
                                <tbody>


                                    <tr>

                                    </tr>
                                    <tr>
                                        <td colspan="2" style="width: 30%; vertical-align:top">
                                            <p style="font-size:35px;">🌏 Access CP4WAIOPS </p>
                                            <p style="font-size:23px;"><a href="https:/{{ aimanager_url }}"
                                                    target="_blank" role="button" class="btn btn-info btn-lg">AI
                                                    Manager</a></p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:20px;">👩‍💻&nbsp;&nbsp;USER: {{ DEMO_USER }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            <p style="font-size:20px;">🔐&nbsp;&nbsp;PASSWORD: {{ DEMO_PWD }}</p>
                                            <p></p>
                                            <p></p>
                                        </td>
                                        <td width="10px">
                                            &nbsp;
                                        </td>
                                        <td colspan="2">
                                            {% if ADMIN_MODE == 'true' %}
                                            <p style="font-size:20px;">👩‍💻&nbsp;&nbsp;USER: {{ aimanager_user }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            <p style="font-size:20px;">🔐&nbsp;&nbsp;PASSWORD: {{ aimanager_pwd }}</p>
                                            <p></p>
                                            <p></p>
                                            {% endif %}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p></p>All other CP4WAIOPS Applications can be found <a href="apps">here</a>
                                        </td>
                                    </tr>
                    </td>

                    <td style="width: 259px; vertical-align:top">

                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        {% if SIMULATION_MODE == 'true' %}
        <p> </p>
        <p> </p>
        <p> </p>
        <p style="font-size:35px;">🚀 Create Live Incidents Demo</p>

        <table width="300" cellspacing="0" cellpadding="0" style="width: 1100px; table-layout: fixed">
            <tbody>


                <tr>

                </tr>
                <tr>
                    <td style="width: 30%; vertical-align:top">
                        <p style="font-size:25px;">Step1: Clear Incident</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 30%; vertical-align:top">
                        <p style="font-size:25px;">Step2: Create Incident</p>
                    </td>


                </tr>
                <tr>
                    <td style="width: 259px; vertical-align:top">
                        <p></p><button type="button" onclick="toggle(this)" data-arg1='clearAllREST'
                            class="btn btn-lg btn-success">Clear Stories and Events</button>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 259px; vertical-align:top">
                        <p></p><button type="button" onclick="toggle(this)" data-arg1='injectAllREST'
                            class="btn btn-danger btn-lg">Create Incident Memory Leak</button>

                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width: 259px; vertical-align:top">
                        <p>&nbsp;</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 259px; vertical-align:top">
                        <p>&nbsp;</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%; vertical-align:top">
                        <p style="font-size:16px;">Clear Stories and Events to reset environment if needed . </p>
                        <p style="font-size:16px;">If you want all Stories and Alerts to disappear you'll have to wait
                            up
                            to 10 minutes after clearing.</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 30%; vertical-align:top">
                        <p style="font-size:16px;">Create Incident simulating a Git Commit for the Robotshop
                            Application.</p>
                        <p style="font-size:16px;">Creates Events and Log and Metric Anomalies, linked to ServiceNow
                            Incidents and Ansible Runbooks for the mysql component of the application.</p>
                    </td>


                </tr>
                <tr>
                    <td colspan="2">
                        <p></p>Other Demo scenarios can be found <a href="apps_demo">here</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p> </p>
        <p> </p>
        <p> </p>

        <table width="300" cellspacing="0" cellpadding="0" style="width: 1100px; table-layout: fixed">
            <tbody>
                <tr>
                    <td colspan="2">
                        <p>You cannot simulate incidents on this system.</p>
                        <p>Please use the existing incidents for demo purposes.</p>
                    </td>
                </tr>
            </tbody>
        </table>

        {% endif %}
        <hr>
        <p></p>
        <p></p>

        </td>
        </tr>
        </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}