{% load static %}
{% include "demouiapp/_header.html" %}

<center>
    <div hidden id="mydiv" class="alert alert-success" role="alert"
        style="min-height:100px; min-width: 700px; background-color: rgb(228, 252, 233); padding:10px; margin: 20px; margin-left: 250px; border-style:solid; border-color:rgb(0, 182, 39);border-width: 1px;">
        <h4 class="alert-heading">🚀 Running!</h4>
        <br />
        <p>Operation will continue running in the background.</p>
    </div>
</center>

<div id="main-panel" role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>

                    <td style="width:90%; padding-left:50px;">
                        <script>
                            let toggle = button => {
                                let element = document.getElementById("mydiv");
                                let elementMain = document.getElementById("main-panel");
                                let arg1 = event.target.getAttribute('data-arg1');
                                element.removeAttribute("hidden");
                                elementMain.setAttribute("hidden", "hidden");
                                button.innerText = "Running";
                                window.open(arg1, "_self");
                            }
                        </script>

                        <div style="  background-color:#f2f7ff; padding: 40px; ">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed;">
                                <tbody>


                                    <tr>

                                    </tr>
                                    <tr>
                                        <td colspan="2" style="width: 30%; vertical-align:top">
                                            <p style="font-size:35px;">🌏 Access CP4WAIOps </p>
                                            <p> &nbsp;</p>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--primary bx--btn--expressive"
                                                    href="https://{{ aimanager_url }}"
                                                    style="width:200px;font-size: 18px;">CP4WAIOps
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="16" height="16" viewBox="0 0 16 16"
                                                        class="bx--btn__icon">
                                                        <path
                                                            d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>
                                        <td></td>
                                        &nbsp;
                    </td>


                    <td colspan="2" style="width: 30%; vertical-align:top">
                        {% if SLACK_URL != 'none' %}

                        <p style="font-size:35px;">📨 Access Slack </p>
                        <p> &nbsp;</p>
                        <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                            <a target="_blank" tabindex="0" class="bx--btn bx--btn--pink bx--btn--expressive"
                                href="{{ SLACK_URL }}" style="width:200px;font-size: 18px;">Slack
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20"
                                    viewBox="0 0 32 32" aria-hidden="true" class="bx--btn__icon">
                                    <path
                                        d="M28.7071,19.293,26,16.5859V13a10.0136,10.0136,0,0,0-9-9.9492V1H15V3.0508A10.0136,10.0136,0,0,0,6,13v3.5859L3.2929,19.293A1,1,0,0,0,3,20v3a1,1,0,0,0,1,1h7v.7768a5.152,5.152,0,0,0,4.5,5.1987A5.0057,5.0057,0,0,0,21,25V24h7a1,1,0,0,0,1-1V20A1,1,0,0,0,28.7071,19.293ZM19,25a3,3,0,0,1-6,0V24h6Zm8-3H5V20.4141L7.707,17.707A1,1,0,0,0,8,17V13a8,8,0,0,1,16,0v4a1,1,0,0,0,.293.707L27,20.4141Z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td style="color:rgb(255, 255, 255);background-color: #08378e; padding:10px; margin: 20px;"
                        colspan="2">
                        <p style="font-size:18px;">👩‍💻&nbsp;&nbsp;{{ DEMO_USER }}
                            &nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p style="font-size:18px;">🔐&nbsp;&nbsp;{{ DEMO_PWD }}</p>
                        <p></p>
                        <p></p>
                    </td>


                    {% if ADMIN_MODE == 'true' %}
                    <td style="color:rgb(255, 255, 255);background-color: rgb(55, 86, 131); padding:10px; margin-left: 20px;"
                        colspan="2">
                        <p style="font-size:18px;">👩‍💻&nbsp;&nbsp;{{ aimanager_user }}
                            &nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p style="font-size:18px;">🔐&nbsp;&nbsp;{{ aimanager_pwd }}</p>
                        <p></p>
                        <p></p>
                    </td>
                    {% else %}
                    <td colspan="2">
                        &nbsp;
                    </td>
                    {% endif %}
                    <td>
                        &nbsp;
                    </td>

                    {% if SLACK_URL != 'none' %}
                    <td style="padding-left:20px; color:rgb(255, 255, 255);background-color: #500050; padding:10px; margin: 20px;"
                        colspan="2">


                        <p style="font-size:18px;">👩‍💻&nbsp;&nbsp;{{ SLACK_USER }}
                            &nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p style="font-size:18px;">🔐&nbsp;&nbsp;{{ SLACK_PWD }}</p>
                        <p></p>
                        <p></p>

                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p></p>All other IBM AIOps Applications can be found <a href="apps">here</a>
                    </td>
                </tr>
                </td>

                <td style="width: 259px; vertical-align:top">

                </td>
                </tr>
            </tbody>
        </table>
    </div>




    {% if SIMULATION_MODE == 'true' %}
    <div style="  background-color:#f2f7ff; padding: 40px; margin: 20px;">

        <p style="font-size:35px;">🚀 Create Live Incidents Demo</p>

        <table cellspacing="0" cellpadding="0" style="width: 1100px; table-layout: fixed">
            <tbody>


                <tr>

                </tr>
                <tr>
                    <td style="width: 30%; vertical-align:top">
                        <p style="font-size:25px;">Step1: Clear Incident</p>
                        <p> &nbsp;</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 30%; vertical-align:top">
                        <p style="font-size:25px;">Step2: Create Incident</p>
                        <p> &nbsp;</p>
                    </td>


                </tr>
                <p> &nbsp;</p>
                <tr>
                    <td style="width: 259px; vertical-align:top">
                        <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                            <a target="_blank" tabindex="0" class="bx--btn bx--btn--green bx--btn--expressive"
                                style="font-size: 18px;max-width:450px;width:350px;" onclick="toggle(this)"
                                data-arg1='clearAllREST'>Clear Stories
                                and Events
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="32"
                                    height="32" viewBox="0 0 32 32" class="bx--btn__icon">
                                    <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                    <path d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                    </path>
                                </svg>
                            </a>
                        </div>

                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 259px; vertical-align:top">
                        <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                            <a target="_blank" tabindex="0" class="bx--btn bx--btn--red bx--btn--expressive"
                                style="font-size: 18px;max-width:450px;width:350px;" onclick="toggle(this)"
                                data-arg1='injectAllREST'>Simulate
                                Incident - Memory Leak
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Table"
                                    aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" role="img"
                                    class="bx--btn__icon">
                                    <path
                                        d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                    </path>
                                </svg>

                            </a>
                        </div>


                    </td>
                </tr>
                <tr>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 259px; vertical-align:top">
                        <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                            <a target="_blank" tabindex="0" class="bx--btn bx--btn--red bx--btn--expressive"
                                style="font-size: 18px;max-width:450px;width:350px;" onclick="toggle(this)"
                                data-arg1='injectAllFanREST'>Simulate Incident - Server Fan
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Table"
                                    aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" role="img"
                                    class="bx--btn__icon">
                                    <path
                                        d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                    </path>
                                </svg>

                            </a>
                        </div>


                    </td>

                    <td width="40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 259px; vertical-align:top">
                        <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                            <a target="_blank" tabindex="0" class="bx--btn bx--btn--red bx--btn--expressive"
                                style="font-size: 18px;max-width:450px;width:350px;" onclick="toggle(this)"
                                data-arg1='injectAllNetREST'>Simulate Incident - Network
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-label="Table"
                                    aria-hidden="true" width="20" height="20" viewBox="0 0 32 32" role="img"
                                    class="bx--btn__icon">
                                    <path
                                        d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                    </path>
                                </svg>

                            </a>
                        </div>


                    </td>

                    <td width="40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width: 259px; vertical-align:top">
                        <p>&nbsp;</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td style="width: 259px; vertical-align:top">
                        <p>&nbsp;</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td
                        style="max-width:450px;width:400px; vertical-align:top; background-color: rgb(228, 252, 233); padding:10px; margin: 20px;">
                        <p style="font-size:16px;">Clear Stories and Events to reset environment if needed . </p>
                        <p style="font-size:16px;">If you want all Stories and Alerts to disappear you'll have to wait
                            up
                            to 10 minutes after clearing.</p>
                    </td>
                    <td width="40px">
                        &nbsp;
                    </td>
                    <td
                        style="width: 30%; vertical-align:top; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                        <p style="font-size:16px;">Create Incident by simulating an error condition.</p>
                        <p style="font-size:16px;">Creates Events and Log and Metric Anomalies, linked to ServiceNow
                            Incidents and Ansible Runbooks.</p>
                    </td>


                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p></p>Other Demo scenarios can be found <a href="apps_demo">here</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <p> </p>
    <p> </p>
    <p> </p>

    <table width="300" cellspacing="0" cellpadding="0" style="width: 1100px; margin-left: 0px;">
        <tbody>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td
                    style="width: 30%; vertical-align:top; background-color: rgb(255, 198, 198); padding:20px; margin: 20px;">
                    <p>❗ You cannot simulate incidents on this system.</p>
                    <p>❗ Please use the existing incidents for demo purposes.</p>
                </td>
            </tr>
        </tbody>
    </table>

    {% endif %}
    <p>&nbsp; </p>

    <p></p>
    <p></p>

    </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
{% include "demouiapp/_footer.html" %}