{% load static %}
{% include "demouiapp/_header.html" %} 
    <div role="main" class="container theme-showcase">
        <div class="jumbotron container">
            <table>
                <tbody>
                    <tr>
                        <td style="width:10%; vertical-align:top">
                 
                            <p></p>
                        </td>
                        <td style="width:90%; padding-left:50px;">
                            <p style="font-size:2.5em;">IBM CloudPak for Watson AIOps</p>
                            <p style="font-size:50px;">🚀 {{ INSTANCE_NAME }} - Demo UI</h1>
                            <p style="font-size:30px;">Demo UI</p>
                            <hr>
                            <p></p>
                            <p style="font-size:50px;">🔐 Please enter the Access Token</p>
                            <p> </p>
                            <p> </p>
                            <p> </p>
                            <form action="login" method="GET"><input id="exampleFormControlInput1" type="password"
                                    name="token" required="" placeholder="my-token" class="form-control">
                                <p></p><button type="reset" class="btn btn-danger mb-3">Reset</button><button
                                    type="submit" class="btn btn-success mb-3">Authenticate</button>
                            </form>
                            <p></p>
                            <p></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% include "demouiapp/_footer.html" %} 