{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    <td style="width:90%; padding-left:50px;">

                        <div style="  background-color:#f2f7ff; padding: 40px; margin: 20px;">

                            <div role="main" class="container theme-showcase">
                                <div class="jumbotron container">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:90%; padding-left:50px;">

                                                    <p></p>
                                                    <p style="font-size:20px;">CP4WAIOPS AIManager Demo UI</p>
                                                    <p>A Simple way to generate Events and Log Anomalies for CP4WAIOPS.
                                                    </p>
                                                    <blockquote>
                                                        <p>Source code is <a target="_blank"
                                                                href="https://github.com/niklaushirt/cp4waiops-deployer">here</a>
                                                            if you want to
                                                            mess around a bit.</p>
                                                    </blockquote>
                                                    <h5>🚀 © 2022 Niklaus Hirt (nikh@ch.ibm.com)</h5>
                                                    <p></p>
                                                    <p></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </p>
                            <p></p>
                            <p></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}