apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cassandra-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 300Gi
  storageClassName: {{ WAIOPS_STORAGE_CLASS_FILE }}
  volumeMode: Filesystem
