{% load static %}
{% include "demouiapp/_header.html" %} 
    <div role="main" class="container theme-showcase">
        <div class="jumbotron container">
            <table>
                <tbody>
                    <tr>
                        {% include "demouiapp/_navbar.html" %}  
                        <td style="width:90%; padding-left:50px;">
                            <p style="font-size:2.5em;">IBM CloudPak for Watson AIOps</p>
                            <h1>AIManager</h1>
                            <p style="font-size:30px;">Demo UI </p>
                            <hr>
                            <p></p>
                            <p style="font-size:50px;"> 👽 About</p>
                            <p style="font-size:20px;">CP4WAIOPS AIManager Demo UI</p>
                            <p>A Simple way to generate Events and Log Anomalies for CP4WAIOPS.</p>
                            <blockquote>
                                <p>Source code is included if you want to mess around a bit.</p>
                            </blockquote>
                            <h3>🚀 Provided by Niklaus Hirt (nikh@ch.ibm.com)</h3>
                            <p></p>
                            <p></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% include "demouiapp/_footer.html" %} 