{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    {% include "demouiapp/_navbar.html" %}
                    <td style="width:90%; padding-left:50px;">
                        <p style="font-size:2.5em;">IBM CloudPak for Watson AIOps</p>

                        <p></p>
                        <p style="font-size:50px;">🚀 CP4WAIOPS Applications<p> </p>
                            <p></p>
                            <hr>
                            <table cellspacing="0" cellpadding="0" style="width: 1200px; table-layout: fixed">
                                <tbody>


                                    <tr>

                                    </tr>
                                    <tr>
                                        <td width="10%">
                                            &nbsp;
                                        </td>
                                        <td width="100px">
                                            &nbsp;
                                        </td>
                                        <td width="10px">
                                            &nbsp;
                                        </td>
                                        <td width="10px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                 
                                    <tr>
                                        <td width="10%"><a href="https://{{ aimanager_url }}" target="_blank"
                                                role="button" class="btn btn-info btn-lg">AI Manager</a></td>
                                        {% if ADMIN_MODE == 'true' %}
                                        <td>👩‍💻&nbsp;&nbsp;USER: {{aimanager_user}}</td>
                    </td>
                    <td  colspan="2">🔐&nbsp;&nbsp;PASSWORD: {{aimanager_pwd}}</td>
                    {% endif %}
                <tr>
                    <td colspan="1">
                        &nbsp;
                    </td>
                    <td>👩‍💻&nbsp;&nbsp;USER: {{ DEMO_USER }} </td>
                    </td>
                    <td>🔐&nbsp;&nbsp;PASSWORD: {{ DEMO_PWD }} </td>
                </tr>



                </tr>
                <tr>
                    <td colspan="3">
                        &nbsp;
                    </td>
                </tr>

                {% if eventmanager_url != '' %}
                <tr>
                    <td width="10%"><a href="https://{{ eventmanager_url }}" target="_blank" role="button"
                            class="btn btn-info btn-lg">Event Manager</a></td>

                    <td>👩‍💻&nbsp;&nbsp;USER: {{eventmanager_user}}</td>
                    <td>🔐&nbsp;&nbsp;PASSWORD: {{eventmanager_pwd}}</td>
                </tr>

                </tr>
                <tr>
                    <td colspan="3">
                        &nbsp;
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td width="10%"><a href="{{ SLACK_URL }}" target="_blank" role="button"
                            class="btn btn-warning btn-lg">Slack</a></td>
                    <td>👩‍💻&nbsp;&nbsp;USER: {{ SLACK_USER }}</td>
                    </td>
                    <td>🔐&nbsp;&nbsp;PASSWORD: {{ SLACK_PWD }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        &nbsp;
                    </td>
                </tr>


                <tr>
                    <td colspan="3">
                       
                    </td>
                </tr>
               

               


            </tbody>
        </table>
        <hr>


        </p>
        <p></p>
        <p></p>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}