{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    {% include "demouiapp/_navbar.html" %}
                    <td style="width:90%; padding-left:50px;">
                        <p style="font-size:2.5em;">IBM CloudPak for Watson AIOps</p>
 
                        <p></p>
                        <p style="font-size:50px;">🚀 CP4WAIOPS System Links<p> </p>
                            <p></p>
                        <hr>
                            <table   cellspacing="0" cellpadding="0" style="width: 1200px; table-layout: fixed">
                                <tbody>


                                    <tr>

                                    </tr>
                                    <tr>
                                        <td width="10%">
                                            &nbsp;
                                        </td>
                                        <td  width="100px">
                                            &nbsp;
                                        </td>
                                        <td  width="10px">
                                            &nbsp;
                                        </td>
                                        <td  width="10px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                  

                                    <tr>
                                        <td colspan="4">
                                            <h4>🛠️  System Components</h4>
                                            <hr>
                                        </td>
                                    </tr>

                                    {% if ADMIN_MODE == 'true' %}
                                    <tr>
                                        <td><a href="https://{{ vault_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Vault</a></td>
                                        <td>🔐&nbsp;&nbsp;TOKEN: {{vault_token}}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    {% endif %}

                              
                                    <tr>
                                        <td><a href="https://{{ flink_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Flink Connectors</a></td>
                                  
                                  
                                    {% if flink_url_policy != '' %}
                                  
                                        <td><a href="https://{{ flink_url_policy }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Flink Policy Framework</a></td>
                                    
                                  
                                    {% endif %}
                                    {% if spark_url != '' %}
                                 
                                        <td><a href="http://{{ spark_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">Spark</a></td>
                                   
                                    {% endif %}
                                </tr>
                                  
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    {% if ADMIN_MODE == 'true' %}
                                    <tr>
                                        <td><a href="https://{{ openshift_url }}" target="_blank"
                                                role="button" class="btn btn-warning btn-sm">OpenShift</a></td>
                                      
                                    </tr>
                                    {% endif %}

                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>


                    
                                </tbody>
                            </table>



                            <table   cellspacing="0" cellpadding="0" style="width: 1200px; table-layout: fixed">
                                <tbody>



                            <tr>
                                <td colspan="5">
                                    <h4>🚀 Manage Incidents</h4>
                                    <hr>
                                </td>
                            </tr>

                   
                                    <tr>
                                    <td style="width: 30%; vertical-align:top">
                                        <p style="font-size:20px;">Create Incident</p>
                                        </td>
                                        <td  width="40px">
                                            &nbsp;
                                        </td>
                                        <td  style="width: 259px; vertical-align:top">
                                            <p style="font-size:20px;">Create Events</a>
                                        </td>
                                        <td  width="10px">
                                            &nbsp;
                                        </td>
                                        <td  style="width: 259px; vertical-align:top">
                                            <p style="font-size:20px;">Clear Stories and Events</p>
                    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 259px; vertical-align:top">
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='injectAllREST' class="btn btn-danger btn-lg">Create Incident Memory Leak</button>
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='injectAllFanREST' class="btn btn-danger btn-lg">Create Incident Fan Failure</button>
                                        </td>
                                        <td  width="40px">
                                            &nbsp;
                                        </td>
                                       
                                        <td  style="width: 259px; vertical-align:top">
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='injectEventsREST' class="btn btn-warning">Create Events</button>
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='injectLogsREST' class="btn btn-warning">Create Log Anomalies</button>
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='injectMetricsREST' class="btn btn-warning">Create Metric Anomalies</button>
                                        </td>
                                        <td  width="10px">
                                            &nbsp;
                                        </td>
                                        <td  style="width: 259px; vertical-align:top">
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='clearAllREST' class="btn btn-success">Clear Stories and Events</button>
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='clearEventsREST' class="btn btn-success">Clear Events</button>
                                            <p></p><button type="button" onclick="toggle(this)" data-arg1='clearStoriesREST' class="btn btn-success">Clear Stories</button>
                                        </td>
                                    </tr>
                   
                                </tbody>
                            </table>


                         
    
                        </p>
                        <p></p>
                        <p></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}